
@media(min-width:768px) {
	.user-col {
		max-width: 250px;
	}
}

@media(max-width:768px) {
	.user-col {
		max-width: 768px;
	}
}

.docspanel {
	padding-left: 20px;
	padding-right: 20px;
}

textarea {
	width: 100%;
	height: 100px;
}

#docslist-add {
	float: right;
}

.doc-button {
	width: 90%;
}

.user-input {
	background: transparent;
	border: none;
	color: #ffffff;
	resize: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #bbbbbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #bbbbbb;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #bbbbbb;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #bbbbbb;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: #bbbbbb;
}
::placeholder { /* Most modern browsers support this now. */
	color: #bbbbbb;
}

.user-input:focus {
	background: rgba(255, 255, 255, 0.103);
	resize: vertical;
}

.peoplelist-entry {
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
}

